/* Début de filtres */      
                                                
                                  
.filtres{
    display: flex;
    margin-top: 35px;
}
                                  
#title-filtre{
    font-family: 'ralewaysemibold';
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
}
                                  
.filter-ul{
    display: flex;
    margin-left: 15px;
}           
                                  
.filter-li{
    position: relative;
    left: 20px;
    border: #D7D7D7 solid 2px;
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 12px 20px 12px 50px;
    font-family: 'ralewaysemibold';
}
                                  
.filter-li i{
    position: absolute;
    left: -11px;
    top: -2px;
    padding: 13px;
    background-color: #DEEBFF;
    color: #0065FC;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    margin-right: 10px;
}
                                  
.filter-li:hover{
    background-color: #0065FC;
    color: white;
}
       
