/* Début de la partie Footer */

footer{
    margin-top: 90px;
}

#color-fond{
    background-color: #D7D7D7;
    width: 100%;
}

#list{
    display: flex;
    justify-content: space-around;
}

.one-list{
    margin-top: 35px;
    
}

.two-list{
    margin-top: 35px;
   
}

.tree-list{
    margin-top: 35px ;
    
}

.title-footer{
    font-family: 'ralewaysemibold';
    font-size: medium;
}

.footer-text{
    margin-top: 15px;
    font-family: 'ralewaythin';
    font-size: medium;
}




