
/* Début de la partie recherche */

                                  
.search-info{
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
}
                                     
.search-info i{
    display: flex;
    color: #0065FC;
    justify-content: center;
    margin-top: 2px;
}

.text-2{ 
    margin-left: 10px;
    font-family: 'ralewaythin';
    font-size: small;
}
                                     
.service-info{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: -4px;
    font-size: small;
}
                                  
.filter-ul{
    list-style-type: none;
}
       
